table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 1500px;
    height: 600px;
}

body {
    font-family: Calibri;
    font-size: 30px;
    color: white;
}

.black {
    color: black;
}

td {
    border: 3px solid black;
    border-collapse: collapse;
}

* {
    background-color: white;
    text-align: center;
}